@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-color: @apply text-gray-900;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-color: @apply text-gray-100;
  }
}

body {
  color: rgb(var(--foreground-color));
}
